@mixin fontsize($sizes, $sufix: '') {
  @each $size in $sizes {
    $fontSize: #{($size/16)}rem;
    @if $sufix != '' {
      .u-fs-#{$size}\@#{$sufix} {
        font-size: $fontSize;
      }
    } @else {
      .u-fs-#{$size} {
        font-size: $fontSize;
      }
    }
  }
}
