@import '@styles/variables.scss';

$components-prefix: 'c-homepage';

.#{$components-prefix}-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 76px;
  background-color: $color-primary;
  background-position: center center;
}

$color-example-grid: #3a4a4a;
$color-example-bg: #ede9dd;

.__u-grid-example {
  background-color: $color-example-bg;
  color: $color-example-grid;
  border: 1px solid $color-example-grid;
}
